@charset "UTF-8";
body,
div,
h1,
h2,
h3,
h4,
p,
ul,
li,
dl,
dt,
dd {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

ul,
dl,
dt,
dd {
  list-style: none;
}

ul li {
  list-style: none;
}

html {
  font-family: 'Microsoft Yahei', 'Hiragino Sans GB', "WenQuanYi Micro Hei", sans-serif, arial;
  font-size: 14px;
}

body * {
  box-sizing: border-box;
}

a {
  color: #fffdad;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #fcf98c;
}
a + a {
  margin-left: 40px;
}

input {
  width: 300px;
  height: 38px;
  padding: 8px 10px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #cad2e1;
  outline: none;
  color: #566278;
}

img {
  vertical-align: middle;
  border: none;
  outline: none;
}

.clear:before, .clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.pr {
  position: relative;
}

.ovh {
  overflow: hidden;
}

.ml20 {
  margin-left: 20px;
}

.gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
          filter: gray;
}

.btn {
  min-width: 120px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  background: #76b600;
  display: inline-block;
}
.btn:hover {
  background: #89d300;
  color: #fff;
}
.btn:active {
  background: #639900;
  color: #fff;
}
.btn.btn-primary {
  background: #f0592b;
}
.btn.btn-primary:hover {
  background: #fc6c47;
}
.btn.btn-primary:active {
  background: #d94c28;
}
.btn.btn-default {
  background: #cccccc;
}
.btn.btn-default:hover {
  background: #e0e0e0;
}
.btn.btn-default:active {
  background: #b0b0b0;
}

.game .game-start.disabled {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-filter: gray;
          filter: gray;
  pointer-events: none;
  cursor: not-allowed;
}

.pop-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.pop-modal.show {
  display: block;
}
.pop-modal .wrap {
  width: 390px;
  min-height: 207px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
  background: #d74538;
  padding: 11px
  /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
  /*定义滚动条轨道 内阴影+圆角*/
  /*定义滑块 内阴影+圆角*/
}
.pop-modal .wrap .hd {
  position: relative;
  color: #fff;
  font-size: 18px;
  padding: 0px 8px 10px;
}
.pop-modal .wrap .pop-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url("../images/game/close.png") no-repeat;
  background-position: -20px 0;
  float: right;
  margin-top: 2px;
}
.pop-modal .wrap .pop-icon:hover {
  background-position: -40px 0;
}
.pop-modal .wrap .pop-icon:active {
  background-position: 0px 0;
}
.pop-modal .wrap .bd {
  background: #fff;
  min-height: 156px;
  border-radius: 10px;
  text-align: center;
  padding: 10px 3px;
  position: relative;
}
.pop-modal .wrap p {
  font-size: 14px;
  line-height: 30px;
  color: #760b1c;
}
.pop-modal .wrap .desc {
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
}
.pop-modal .wrap .form {
  padding: 15px 20px 58px;
}
.pop-modal .wrap .form .form-group {
  height: 60px;
}
.pop-modal .wrap .my-prize {
  height: 308px;
  overflow-y: auto;
  line-height: 34px;
  color: #414141;
}
.pop-modal .wrap .my-prize li {
  padding: 0 10px;
}
.pop-modal .wrap .my-prize img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background: #ccc;
}
.pop-modal .wrap .ft {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
}
.pop-modal .wrap ::-webkit-scrollbar {
  width: 6px;
  height: 30px;
  background-color: transparent;
}
.pop-modal .wrap ::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: transparent;
}
.pop-modal .wrap ::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
}

body {
  background: url("../images/game2/bg.png") repeat;
}

.container {
  max-width: 1210px;
  position: relative;
  margin: 0 auto;
}

.header {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
}

.banner {
  background: url("../images/game2/banner.png") no-repeat center;
  height: 680px;
}

.content {
  color: #fff;
}

.game {
  margin: 50px auto 0;
  text-align: center;
  background: url("../images/game2/slot-machine.png") no-repeat center;
  width: 904px;
  height: 999px;
  padding-top: 8px;
}
.game .game-wrapper {
  width: 729px;
  height: 329px;
  margin-top: 30px;
  background: url("../images/game2/horse-lamp.png") no-repeat top;
  display: inline-block;
}
.game.game-active .game-wrapper {
  -webkit-animation: horse-lamp steps(1, end) 0.4s infinite;
  animation: horse-lamp steps(1, end) 0.4s infinite;
}
.game .game-winner {
  width: 400px;
  height: 39px;
  line-height: 39px;
  font-size: 19px;
  overflow: hidden;
  margin: 0 auto;
}
.game .winner-list {
  width: 280px;
  font-size: 16px;
  display: inline-block;
}
.game .winner-list img {
  margin-right: 10px;
}
.game .game-stage {
  width: 660px;
  height: 257px;
  overflow: hidden;
  display: inline-block;
  margin: 37px 0px 55px;
}
.game .game-item {
  display: inline-block;
  width: 210px;
  height: auto;
  float: left;
  text-align: center;
  background: #fff;
}
.game .game-item + .game-item {
  margin-left: 15px;
}
.game .game-item li {
  width: 100%;
  height: 257px;
  line-height: 257px;
}
.game .game-item img {
  max-width: 170px;
  max-height: 220px;
}
.game .game-tip {
  height: 46px;
  line-height: 46px;
  font-size: 19px;
  margin-bottom: 8px;
}
.game .game-opera {
  height: 150px;
  width: 580px;
  margin: 0 auto;
}
.game .game-start {
  width: 160px;
  height: 115px;
  display: inline-block;
  background: url("../images/game2/start.png") no-repeat bottom;
  font-size: 0;
  overflow: hidden;
  text-indent: -2000px;
}
.game .game-start:hover {
  opacity: .9;
}
.game .game-start:active {
  opacity: 1;
  background-image: url("../images/game2/start-press.png");
}
.game .game-btn {
  width: 120px;
  height: 88px;
  display: inline-block;
  background: url("../images/game2/btn.png") no-repeat bottom;
  font-size: 0;
  overflow: hidden;
  text-indent: -2000px;
  margin-top: 40px;
}
.game .game-btn:hover {
  opacity: .9;
}
.game .game-btn:active {
  opacity: 1;
  background-image: url("../images/game2/btn-press.png");
}
.game .game-btn.btn-note {
  background-image: url("../images/game2/btn_note.png");
}
.game .game-btn.btn-note:active {
  background-image: url("../images/game2/btn_note-press.png");
}

.modal-info {
  margin: 5px 32px 0;
  overflow: hidden;
  text-align: left;
}
.modal-info .modal-box {
  width: 400px;
  padding: 14px;
}
.modal-info .modal-title {
  font-size: 19px;
  line-height: 22px;
  font-weight: bold;
  color: #c10000;
  margin-bottom: 11px;
}
.modal-info .modal-title a {
  color: #c10000;
  font-size: 16px;
  font-weight: normal;
}
.modal-info .modal-rule {
  margin-top: 25px;
  font-size: 12px;
  line-height: 24px;
  padding-left: 12px;
}

.winner-wrapper {
  height: 255px;
  margin: 16px 15px 0;
  overflow: hidden;
}

.winner-small-list {
  font-size: 12px;
  line-height: 36px;
}
.winner-small-list img {
  margin-right: 15px;
  background: #ccc;
}

@-webkit-keyframes horse-lamp {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 0 -329px;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes horse-lamp {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 0 -329px;
  }
  100% {
    background-position: 0 0;
  }
}

/*# sourceMappingURL=game2.css.map */